<div class="container mt-2">

    <div class="row">
        <div class="col">

            <div class="card bg-light">
                <div class="card-header">
                    <div class="badge badge-info float-right">component</div>
                    <code>dr-debug</code>
                </div>

                <div class="card-body">
                    <dr-debug [data]="testData"></dr-debug>
                    <div *ngIf="!debug">
                        <a href="?debug">show debugs</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col">

            <div class="card bg-light">
                <div class="card-header">
                    <div class="badge badge-info float-right">component</div>
                    <code>dr-debug</code>
                </div>

                <div class="card-body">
                    <dr-debug>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam quos eaque explicabo
                            perferendis culpa hic numquam debitis odit, nihil dolore.
                        </p>
                    </dr-debug>
                    <div *ngIf="!debug">
                        <a href="?debug">show debugs</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col">

            <div class="card bg-light">
                <div class="card-header">
                    <div class="badge badge-info float-right">pipe</div>
                    <code>drstringify</code>
                </div>

                <pre class="card-body">{{ testData | drstringify }}</pre>
            </div>

        </div>
    </div>

</div>